@import "./constants.css";

.item-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 500px;
}

.diary-item {
  margin: auto;
  position: relative;
  background-color: var(--light-blue);
  width: 80%;
  height: 80%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px var(--purple);
  transition: 200ms;
}

.diary-item:hover {
  box-shadow: 15px 15px var(--purple);
  transition: 200ms;
  padding: 15px;
  cursor: pointer;
}

.image-slide {
  margin: auto;
  height: 50%;
  width: 90%;
  position: relative;
  overflow: hidden;
}

.slide-arrow {
  position: absolute;
  top: 50%;
  font-size: 1.7em;
  transition: 200ms;
}

.slide-arrow:hover {
  color: var(--brown-pink);
  transition: 200ms;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.diary-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  visibility: hidden;
  position: absolute;
}

.diary-image.active {
  visibility: visible;
  position: static;
}

.photo-counter {
  position: absolute;
  top: 0;
  background-color: var(--light-blue);
  padding: 8px;
  border-bottom-right-radius: 20px;
}

.diary-descript {
  margin: auto;
  padding-top: 10px;
  width: 90%;
  height: 40%;
}

.diary-descript h3 {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.delete-button,
.edit-button {
  background-color: var(--brown-pink);
}

.edit-button {
  margin-left: 75%;
}

.delete-button:hover,
.edit-button:hover {
  color: white;
  cursor: pointer;
  transition: 200ms;
}

.deleting-placeholder {
  position: absolute;
  top: 40%;
}
