@import "./constants.css";

.nav-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 30%;
}

.nav-item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: var(--khaki);
  transition: 200ms;
}

.nav-item:hover {
  color: white;
  cursor: pointer;
}

.nav-icon {
  margin-right: 10px;
  font-size: 2rem;
}

#logout_button {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

#nav_show_button {
  left: -100%;
  position: fixed;
  height: 70px;
  width: 70px;
  font-size: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--khaki);
  opacity: 0.9;
  background-color: var(--dark-green);
  transition: 350ms;
}

#nav_show_button.active {
  left: 0;
  transition: 350ms;
}

#nav_show_button:hover {
  opacity: 1;
  transition: 350ms;
  cursor: pointer;
}
